<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><p class="ion-text-center">Configuration</p> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="timeAndDate">
  <div
    style="
      margin: auto;
      width: 90%;
      display: flex;
      align-self: center;
      margin-bottom: 10%;
    "
  >
    <p class="ion-text-center">Vous êtes dans le mode {{type}}</p>
  </div>

  <div class="timeAndDate">
    <ion-item button routerLink="/configuration-automatique">
      <div class="itemConfort">
        <ion-label><p class="my-label">Conf Automatique</p></ion-label>
      </div>
    </ion-item>
    <ion-item button routerLink="/configuration-manuelle">
      <div class="itemEconom">
        <ion-label><p class="my-label">Conf Manuelle</p></ion-label>
      </div>
    </ion-item>
  </div>
</ion-content>
